
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Numero de pasaporte</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" value="X01234567" readonly=true>
    <span class="badge badge-warning">Verificado</span>
    <span class="badge badge-primary">Confirmado</span>
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Numero de telefono</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" value="+48 987 123 456" readonly=true>
    <span class="badge badge-warning">Verificado</span>
    <span class="badge badge-primary">Confirmado</span>
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Ultimo digito DUI</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" value="0" readonly=true>
    <span class="badge badge-warning">Verificado</span>
    <span class="badge badge-primary">Confirmado</span>
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Lugar de votacion(Departamento)</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" value="San Salvador" readonly=true>
    <span class="badge badge-warning">Verificado</span>
    <span class="badge badge-primary">Confirmado</span>
  </div>


  <div class="form-group">
    <label for="exampleFormControlInput1">Lugar de votacion (Municipio)</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" value="San Salvador" readonly=true>
    <span class="badge badge-warning">Verificado</span>
    <span class="badge badge-primary">Confirmado</span>
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Imagen de pasaporte</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" value="X01234567" readonly=true>
    <span class="badge badge-warning">Verificado</span>
    <span class="badge badge-primary">Confirmado</span>
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Antecedentes penales </label>
    <span class="badge badge-primary"> Sin antecedentes penales</span>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">NOTAS</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" readonly=true></textarea>
  </div>
</form>
