<div >
<form>

  <div class="form-group">
    <label for="costValue">What are the expenses for this sales?</label><br>
    <input type="text" id="costValue" name="costValue" value="0.00"><br><br>
    <label for="date">Date</label><br>
    <input type="text" id="date" name="date" placeholder="yyyy-mm-dd"><br><br>
    <label for="formControlFile1">Please upload the CVS file</label>
    <div>
        <upload-file> </upload-file>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Upload</button>
</form>

</div>

<ng-template #dataUploaded>
  <div class="form-group">
    <label style="color:green;" > The process of upload data is complete!