<!--The content below is only a placeholder and can be replaced.-->

<div class="ui inverted top fixed menu">
  <div class="ui container">
    <a routerLink="/" class="header item">
      <img class="ui mini image" src="/assets/angular.svg">
      &nbsp;
      Data viz - platform
    </a>
    <a class="item" *ngIf="!isAuthenticated" (click)="login()">Login</a>
    <a id="messages-button" class="item" *ngIf="isAuthenticated" routerLink="/messages">Notifications</a>
    <a id="profile-button" class="item" *ngIf="isAuthenticated" routerLink="/profile">{{ userName }} Profile</a>
    <a id="upload-data-button" class="item" *ngIf="isAuthenticated" routerLink="/upload-data">Upload data</a>
    <a id="profile-button" class="item" *ngIf="isAuthenticated" routerLink="/dashboard">Dashboard</a>
    <a id="logout-button" class="item" *ngIf="isAuthenticated" (click)="logout()">Logout</a>

  </div>    
</div>

<div class="container" style="margin-top: 7em;">
  <router-outlet> </router-outlet>
</div>

<p></p>
