<h1 class="ui header">
  <i aria-hidden="true" class="mail outline icon"></i> My Notifications
</h1>
<div *ngIf="failed" class="ui error message">
  <div class="content">
    <div class="header">Error to gather notifications. Please check the following:</div>
    <ul class="list">
      <li class="content">The data server is not working properly..</li>
    </ul>
  </div>
</div>

<div *ngIf="messages.length">
  <p>Please find the notification list below:
    <code>localhost:8000/api/messages</code>
  </p>
  <p>Your ID Token hold the info below:
    <code>Authorization</code> If there is an error, your ID Token is not valid: error 401.
    <code>Without authorization</code>.</p>
  <p>The notifications are protected
    <code>OktaAuthGuard</code> component, without your authorization, if not possible to read your notifications.</p>
  <table class="ui table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Notification</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let message of messages" id="message-{{message.index}}">
        <td>{{message.date}}</td>
        <td>{{message.text}}</td>
      </tr>
    </tbody>
  </table>
</div>
